10872(팩토리얼)

In [6]:
n = int(input())
result = 1
def fact(num):
    if num > 2:
        num *= fact(num - 1)
    return num
if n > 1:
    result = fact(n)
print(result)

10
3628800

In [24]:
def fact(num):
    if num < 2:
        return 1
    else:
        return num * fact(num - 1)
fact(5)

120

10870(피보나치 수 5)

In [34]:
n = int(input())
def fib(num):
    if num == 1:
        return 1
    elif num == 0:
        return 0
    else:
        return fib(num - 1) + fib(num - 2)
result = fib(n)
print(result)

10
55

2447(별 찍기 - 10)

In [62]:
n = int(input())
data = []
def star(num):
    if num / 3 == 1:
        return '*'
    else:
        data
        star(num / 3)
star(n)

3

In [101]:
n = int(input())
data = [[] for i in range(3)]
def empty(x):
    if num == 1:
        return
    else:
        num
def star(num):
    if num == 1:
        return '*'
    else:
        for i in range(3):
            if i == 1:
                data[i].append(star(num / 3))
                data[i].append(empty(num / 3))
                data[i].append(star(num / 3))
            else:
                data[i].append(star(num / 3))
                data[i].append(star(num / 3))
                data[i].append(star(num / 3))
        return data
data = star(n)
for i in range(3):

3

[['***'], ['*', '*'], ['***']]

11729(하노이 탑 이동 순서)

In [58]:
n = int(input())
data = []
def hanoi(num, s, e, v, cnt):
    if num == 1:
        data.append((s,e))
        cnt += 1
        return cnt
    else:
        cnt = hanoi(num - 1, s, v, e, cnt)
        data.append((s,e))
        cnt += 1
        cnt = hanoi(num - 1, v, e, s, cnt)
        return cnt
print(hanoi(n, 1, 3, 2, 0))
for s, e in data:
    print(s, e)

3
7
1 3
1 2
3 2
1 3
2 1
2 3
1 3